<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>348260286490-u8pvq5pqdust75844e1t4pmdusnb36i3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.348260286490-u8pvq5pqdust75844e1t4pmdusnb36i3</string>
	<key>API_KEY</key>
	<string>AIzaSyAg48UlJ2CHFLTkjY3WGHcVAeqbLaSBz88</string>
	<key>GCM_SENDER_ID</key>
	<string>348260286490</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>appworks.PocketList</string>
	<key>PROJECT_ID</key>
	<string>articledata-b4912</string>
	<key>STORAGE_BUCKET</key>
	<string>articledata-b4912.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:348260286490:ios:57191a1b21f13ea8</string>
	<key>DATABASE_URL</key>
	<string>https://articledata-b4912.firebaseio.com</string>
</dict>
</plist>